.moongrid-table {
    width: 100%;
    margin-bottom: 0px;
}

.moongrid-cell {
    overflow-wrap: break-word;
}

.moongrid-table-striped {
}

    .moongrid-table-striped tr:nth-child(odd) > td {
        background-color: white;
    }

    .moongrid-table-striped tr:nth-child(even) > td {
        background-color: #F2F2F2;
    }

    .moongrid-table-striped tr:nth-child(odd) > th {
        background-color: rgb(36, 80, 105);
        color: white;
        font-weight: 200;
    }

.moongrid-additional-row {
    border-top: 0px;
    }

.downchevron:after {
    content: '\2BC6';
}

.upchevron:after {
    content: '\2BC5';
}

.mg-table-coolfreeze {
}

    .mg-table-coolfreeze th:first-child,
    .mg-table-coolfreeze td:first-child {
        position: sticky;
        left: 0px;
        z-index: 1;
    }

    .mg-table-coolfreeze th {
        transform: scale(0.999);
    }

    .mg-table-coolfreeze td {
        transform: scale(0.999);
    }

.mg-pager-button {
    user-select: none;
}
