@inject CurrieTechnologies.Razor.SweetAlert2.SweetAlertService Swal;

<div class="custommenu" @onclick="ExecuteAction"></div>

@code
{
    [CascadingParameter] Product Product { get; set; }

    async Task ExecuteAction()
    {
        await Swal.FireAsync("Now you can show an action menu for product with SKU: " + Product.Sku);
    }
}
