@inject CurrieTechnologies.Razor.SweetAlert2.SweetAlertService Swal;

<div class="custommenu" @onclick="ExecuteAction"></div>

@code
{
    [CascadingParameter] object Row { get; set; }

    async Task ExecuteAction()
    {
        var product = Row as Product;
        await Swal.FireAsync("Now you can show an action menu for product with SKU: " + product.Sku);
    }
}
