@page "/"

<div class="mx-2 my-2">
    <h2>Moongrid samples</h2>
    <p>A simple and powerful grid for Blazor</p>

    <dl>
        <dt>Basic sample</dt>
        <dd>Showcase the most basic functionality. <a href="basic">View</a></dd>
        <dt>Filter and order data</dt>
        <dd>Showcase filtering and ordering options. <a href="filterandordering">View</a></dd>
        <dt>Option buttons</dt>
        <dd>Add additional options with custom buttons. <a href="optionbuttons">View</a></dd>
        <dt>Freeze first column</dt>
        <dd>If you have many columns you can freeze the first one. <a href="freezecolumn">View</a></dd>
        <dt>Loading indicator</dt>
        <dd>If it takes time to retrieve the data add a loading indicator. <a href="loadingindicator">View</a></dd>
        <dt>Provide all data on load</dt>
        <dd>Instead of manually page the data you can provide Moongrid with all the data to display at once. <a href="alldata">View</a></dd>
        <dt>Drill down on data</dt>
        <dd>You can provide an option to show more data of an item. <a href="drilldown">View</a></dd>
        <dt>Master / Detail</dt>
        <dd>Show expanded details of any item. <a href="masterdetail">View</a></dd>
        <dt>List View</dt>
        <dd>Render the grid in a list view style. This way you can reuse the paging functionality, among others. <a href="listview">View</a></dd>
        <dt>Information row</dt>
        <dd>After each row add an extra row with more information about the item. <a href="informationrow">View</a></dd>
        <dt>Localization</dt>
        <dd>Adapt the interface to different languages. <a href="localization">View</a></dd>
        <dt>Asynchronous loading</dt>
        <dd>If your data source has a slow response time, load the data asynchronously. <a href="asyncload">View</a></dd>
        <dt>Dynamically update elements</dt>
        <dd>If you don't want a full redraw everytime the data changes you can update elements individually. <a href="dynamicupdate">View</a></dd>
        <dt>Bring element into view</dt>
        <dd>Automatically select the page of an item. <a href="bringelementintoview">View</a></dd>
    </dl>

    <p>Project url: <a href="https://github.com/pablopioli/MoonGrid">https://github.com/pablopioli/MoonGrid</a></p>
</div>
