@page "/listview"

<div class="container-fluid">
    <h2>List View</h2>
</div>

<div class="container-fluid">
    <MoonGrid.Grid TItem="Product" DataSource="@GetProductData">
        <ListViewTemplate Context="Product">
            <div class="my-2 mx-2">
                <h3>Product name</h3>
                <p>@Product.Name</p>
            </div>
        </ListViewTemplate>
    </MoonGrid.Grid>
</div>

@code {
    public Task<QueryResult<Product>> GetProductData(QueryOptions<Product> queryOptions)
    {
        // You generally do this in the server, send the query options via HttpClient
        // Use sample data in this example
        var data = Program.FakeData;
        var pagedData = data.Skip((queryOptions.PageNumber - 1) * queryOptions.PageSize).Take(queryOptions.PageSize + 1).ToArray();

        var result = new QueryResult<Product>();
        result.ResultData = pagedData.Take(queryOptions.PageSize).ToArray();
        result.HasMoreData = pagedData.Length == queryOptions.PageSize + 1;
        return Task.FromResult(result);
    }
}
